@use "./setup";

// <!-- KEYFRAMES -->

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// <!-- GENERAL STYLES -->

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}


h2 {
    position: relative;
}

h2,
h3,
h4,
h5 {
    color: hsl(0, 0%, 98%);
    text-transform: capitalize;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 2rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: hsla(0deg, 0%, 84%, 0.7);
    
    button {
        font: inherit;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
    }
}

li {
    list-style: none;
}

img,
i,
a,
button,
time,
span {
    display: block;
}

body {
    background: hsl(0, 0%, 7%);
}

main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}

.wrapper {
    width: min(80%, 1500px);
    margin: 0 auto;
}

.sideSubSection,
.aboutME,
.projectSection {
    background: hsl(240, 2%, 12%);
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    z-index: 1;
    margin: 10px;
}

// <!-- NAVIGATION BAR -->

.upperNav {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 0 20px;
    box-shadow: none;
    padding: 0 20px;
    z-index: 5;
    -webkit-animation: fade 3.5s ease-in 3.5s;
    animation: fade 3.5s ease-in 3.5s;
    animation-fill-mode: none;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

.upperNav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.upperNav-link {
    color: hsla(0, 0%, 84%, 0.7);
    font-size: 1.1rem;
    padding: 20px 7px;
    transition: color 0.25s ease;
}