html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

h2 {
  position: relative;
}

h2,
h3,
h4,
h5 {
  color: hsl(0deg, 0%, 98%);
  text-transform: capitalize;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: hsla(0deg, 0%, 84%, 0.7);
}
a button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

li {
  list-style: none;
}

img,
i,
a,
button,
time,
span {
  display: block;
}

body {
  background: hsl(0deg, 0%, 7%);
}

main {
  max-width: 1200px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 25px;
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

.wrapper {
  width: min(80%, 1500px);
  margin: 0 auto;
}

.sideSubSection,
.aboutME,
.projectSection {
  background: hsl(240deg, 2%, 12%);
  border: 1px solid hsl(0deg, 0%, 22%);
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: -4px 8px 24px hsla(0deg, 0%, 0%, 0.25);
          box-shadow: -4px 8px 24px hsla(0deg, 0%, 0%, 0.25);
  z-index: 1;
}

.upperNav {
  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: hsla(240deg, 1%, 17%, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid hsl(0deg, 0%, 22%);
  border-radius: 0 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 20px;
  z-index: 5;
  -webkit-animation: fade 3.5s ease-in 3.5s;
  animation: fade 3.5s ease-in 3.5s;
  animation-fill-mode: none;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.upperNav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.upperNav-link {
  color: hsla(0deg, 0%, 84%, 0.7);
  font-size: 1.1rem;
  padding: 20px 7px;
  -webkit-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.sideSubSection {
  margin-bottom: 15px;
  max-height: 112px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: sticky;
  top: 60px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  height: 100%;
  margin-bottom: 0;
  padding-top: 40px;
  z-index: -5;
  width: 100%;
}

.profileSection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profileSection .profilePic img {
  width: 150px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(3%, hsl(240deg, 1%, 25%)), color-stop(97%, hsl(0deg, 0%, 19%)));
  background: linear-gradient(to bottom right, hsl(240deg, 1%, 25%) 3%, hsl(0deg, 0%, 19%) 97%);
  border-radius: 20px;
}
.profileSection .profileContact .title {
  color: hsl(0deg, 0%, 100%);
  background: hsl(240deg, 1%, 17%);
  font-size: 1.4rem;
  font-weight: 300;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
}
.profileSection .profileContact .name {
  color: hsl(0deg, 0%, 98%);
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin-bottom: 10px;
  color: hsl(0deg, 0%, 98%);
}

.separator {
  width: 100%;
  height: 1px;
  background: hsl(0deg, 0%, 22%);
  margin: 16px 0;
}

.iconBox {
  position: relative;
  background: hsl(240deg, 1%, 17%);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: hsl(346deg, 91%, 50%);
  -webkit-box-shadow: -4px 8px 24px hsla(0deg, 0%, 0%, 0.25);
          box-shadow: -4px 8px 24px hsla(0deg, 0%, 0%, 0.25);
  z-index: -1;
  text-align: center;
}

.contactsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 0;
}
.contactsList address {
  color: hsla(0deg, 0%, 84%, 0.7);
  font-size: 1.5rem;
}
.contactsList a {
  color: hsl(0deg, 0%, 84%);
  font-size: 1.5rem;
}
.contactsList .contactItem {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.contactsList .contactInfo {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}
.contactsList .contactTitle {
  color: hsla(0deg, 0%, 84%, 0.7);
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.socialItem .socialLink {
  color: hsla(0deg, 0%, 84%, 0.7);
  font-size: 18px;
}

p {
  color: hsl(0deg, 0%, 84%);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}

.skillSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.skillSet li {
  width: 15%;
  font-size: 8rem;
  text-align: center;
  margin: 5px;
  padding: 5px;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(hsla(240deg, 1%, 18%, 0.251)), to(hsla(240deg, 2%, 11%, 0))), hsl(240deg, 2%, 13%);
  background: linear-gradient(to bottom right, hsla(240deg, 1%, 18%, 0.251) 0%, hsla(240deg, 2%, 11%, 0) 100%), hsl(240deg, 2%, 13%);
  padding: 20px;
  border-radius: 14px;
  -webkit-box-shadow: 0 16px 30px hsla(0deg, 0%, 0%, 0.25);
          box-shadow: 0 16px 30px hsla(0deg, 0%, 0%, 0.25);
  z-index: 1;
}

i {
  width: 100%;
  height: auto;
  display: block;
  color: #FF9801;
}

.projectsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
}
.projectsList.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

.scrollbar {
  scrollbar-color: #FF9801 #2B2B2C;
  border-radius: 5px;
  border-radius: 5px;
}

.projectsItem {
  min-width: 100%;
  scroll-snap-align: center;
}
.projectsItem .contentCard {
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(hsl(0deg, 0%, 25%)), color-stop(50%, hsla(0deg, 0%, 25%, 0)));
  background: linear-gradient(to bottom right, hsl(0deg, 0%, 25%) 0%, hsla(0deg, 0%, 25%, 0) 50%);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  -webkit-box-shadow: 0 16px 30px hsla(0deg, 0%, 0%, 0.25);
          box-shadow: 0 16px 30px hsla(0deg, 0%, 0%, 0.25);
  cursor: pointer;
  z-index: 1;
}
.projectsItem .projectDescription {
  color: hsl(0deg, 0%, 84%);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  display: -webkit-box;
}

.projectTitle {
  text-align: center;
  padding-left: 50px;
}

.projectLinks {
  text-align: center;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  text-transform: uppercase;
}
.projectLinks:hover {
  -webkit-transform: scale(150%);
          transform: scale(150%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projectImg {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  -webkit-transform: translate(15px, -25px);
          transform: translate(15px, -25px);
  border: 2px solid hsl(0deg, 0%, 22%);
  border-radius: 14px;
}
.projectImg img {
  width: 240px;
  height: 150px;
  border-radius: 14px;
}
.projectImg img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ff9000;
  -webkit-box-shadow: 0 0 10px #ff9000, 0 0 10px #ff9000, 0 0 10px #ff9000, 0 0 10px #ff9000;
          box-shadow: 0 0 10px #ff9000, 0 0 10px #ff9000, 0 0 10px #ff9000, 0 0 10px #ff9000;
}

h1 {
  font-size: 10rem;
  background: #f9c667;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f9c667), to(#f79621));
  background: linear-gradient(to right, #f9c667 0%, #f79621 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9c667", endColorstr="#f79621", GradientType=1);
  /* IE6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fade 4s ease-in 3.5s;
          animation: fade 4s ease-in 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  pointer-events: none;
  opacity: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.introAnimation {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: hsl(0deg, 0%, 7%);
  -webkit-animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
          animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.textWrapper {
  color: hsl(0deg, 0%, 98%);
  position: absolute;
}

.text {
  font-weight: lighter;
  font-size: 5.5rem;
}

.text1,
.text3,
.text4,
.text8,
.text9,
.text11 {
  color: hsla(0deg, 0%, 0%, 0);
  -webkit-text-stroke: 1px hsl(0deg, 0%, 98%);
}

@-webkit-keyframes blink {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.text1 {
  -webkit-animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
          animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

.text2 {
  -webkit-animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
          animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text3 {
  -webkit-animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
          animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text4 {
  -webkit-animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
          animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text5 {
  -webkit-animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
          animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text6 {
  -webkit-animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s;
          animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s;
  opacity: 0;
}

.text7 {
  -webkit-animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
          animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text8 {
  -webkit-animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
          animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text9 {
  -webkit-animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
          animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text10 {
  -webkit-animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
          animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text11 {
  -webkit-animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
          animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }
  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }
  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }
  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }
  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }
  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }
  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes slide-out-container {
  0% {
    height: 100vh;
  }
  40% {
    height: 100vh;
  }
  100% {
    height: 0%;
  }
}
@keyframes slide-out-container {
  0% {
    height: 100vh;
  }
  40% {
    height: 100vh;
  }
  100% {
    height: 0%;
  }
}
@media (max-width: 990px) {
  .text {
    font-size: 24px;
  }
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  50% {
    -webkit-box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.75);
            box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  50% {
    -webkit-box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.75);
            box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0.7rem rgba(255, 255, 255, 0);
  }
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  position: relative;
  background: hsl(240deg, 2%, 12%);
  margin: auto;
  padding: 0;
  border: 1px solid hsl(0deg, 0%, 22%);
  border-radius: 20px;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-size: 4rem;
  padding: 2px 5px;
  background: -webkit-gradient(linear, left top, right bottom, from(hsl(0deg, 0%, 25%)), color-stop(50%, hsla(0deg, 0%, 25%, 0)));
  background: linear-gradient(to bottom right, hsl(0deg, 0%, 25%) 0%, hsla(0deg, 0%, 25%, 0) 50%);
  color: black;
  border-radius: 14px;
}

.modal-body {
  padding: 2px 16px;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .formItem {
  padding: 10px;
  font-size: 2rem;
}
form button {
  -webkit-animation: pulse 1.5s ease-out infinite;
          animation: pulse 1.5s ease-out infinite;
  font-size: 1.4rem;
  border: 3px solid hsla(0deg, 0%, 100%, 0.314);
  border-radius: 1em;
  margin-top: 2vh;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.125);
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
form button:hover {
  background-color: green;
}

.modal-footer {
  font-size: 4rem;
  padding: 2px 5px;
  border-radius: 14px;
  background: hsl(240deg, 2%, 12%);
  color: black;
}

@media (max-width: 1050px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
  .wrapper {
    width: min(80%, 1500px);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .contactsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    overflow: hidden;
  }
  .contactsList .contactItem {
    min-width: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
}
@media (max-width: 820px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
  h2 {
    font-size: 4rem;
    margin: 0;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .contactInfo {
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    display: none;
  }
  .skillSet li {
    width: 15%;
    font-size: 4rem;
    text-align: center;
    position: relative;
    background: -webkit-gradient(linear, left top, right bottom, from(hsla(240deg, 1%, 18%, 0.251)), to(hsla(240deg, 2%, 11%, 0))), hsl(240deg, 2%, 13%);
    background: linear-gradient(to bottom right, hsla(240deg, 1%, 18%, 0.251) 0%, hsla(240deg, 2%, 11%, 0) 100%), hsl(240deg, 2%, 13%);
    padding: 20px;
    border-radius: 14px;
    -webkit-box-shadow: 0 16px 30px hsla(0deg, 0%, 0%, 0.25);
    box-shadow: 0 16px 30px hsla(0deg, 0%, 0%, 0.25);
    z-index: 1;
    gap: 5px;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .projectsList {
    display: initial;
  }
  .projectsList .projectTitle {
    text-align: center;
    padding-left: 250px;
  }
  .projectsList .projectLinks {
    padding-left: 250px;
  }
}
@media (max-width: 510px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
  .skillSet li {
    width: 21%;
    font-size: 4rem;
    text-align: center;
    position: relative;
    background: -webkit-gradient(linear, left top, right bottom, from(hsla(240deg, 1%, 18%, 0.251)), to(hsla(240deg, 2%, 11%, 0))), hsl(240deg, 2%, 13%);
    background: linear-gradient(to bottom right, hsla(240deg, 1%, 18%, 0.251) 0%, hsla(240deg, 2%, 11%, 0) 100%), hsl(240deg, 2%, 13%);
    padding: 20px;
    border-radius: 14px;
    -webkit-box-shadow: 0 16px 30px hsla(0deg, 0%, 0%, 0.25);
    box-shadow: 0 16px 30px hsla(0deg, 0%, 0%, 0.25);
    z-index: 1;
    gap: 5px;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .projectsList {
    display: initial;
  }
  .projectsList .projectTitle {
    display: none;
  }
  .projectsList .projectLinks {
    margin-top: 120px;
    padding: 0;
  }
}